In [ ]:
#Model Training

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Gemstone.csv')
df.head()

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453

In [5]:
df = df.drop(labels=['Unnamed: 0'],axis=1)
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [52]:
## Independent and dependent features
X = df.drop(labels=['price'],axis=1)
Y = df[['price']]

In [53]:
X

       carat        cut color clarity  depth  table     x     y     z
0       1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1       2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2       0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3       0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4       1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
19996   0.70      Ideal     G     VS1   61.5   55.0  5.72  5.74  3.52
19997   1.23  Very Good     H     VS2   61.5   59.0  6.88  6.92  4.24
19998   1.00  Very Good     F     SI1   59.7   61.0  6.52  6.50  3.88
19999   0.90    Premium     D     SI1   61.4   60.0  6.10  6.14  3.75
20000   1.03       Fair     D     SI1   64.7   67.0  6.35  6.25  4.10

[20001 rows x 9 columns]

In [54]:
Y

       price
0      13619
1      13387
2       2772
3        666
4      14453
...      ...
19996   3027
19997   6473
19998   5713
19999   3889
20000   6181

[20001 rows x 1 columns]

In [46]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [47]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [48]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [49]:
## Numerical pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
    
    ]
)

##Categorical Pipleline
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
    ('scaler',StandardScaler())
    ]
)

preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_columns),
    ('cat_pipeline',cat_pipeline,categorical_columns)
    ]
)

In [50]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [51]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

ValueError: A given column is not a column of the dataframe